[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.maturin]
features = ["pyo3/extension-module"]
codegen-units = 1
lto = "fat"
opt-level = "z"
panic = "abort"
strip = true 
